
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/11673_1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/pngwing.com.png" alt="">
                    </div>
                    <h1 class="presentation-title">Guille_beardstyle</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">UN NUEVO CONCEPTO DE ESTÉTICA MASCULINA</h2>
            </div>
        </div>
        
    </div>
    <!-- Main-->
    <div class="main">
        <app-menu></app-menu>
    </div>
</div>

